footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f0f0f0; 
    color: #333; 
    border-top: 2px solid #ccc;
    
    svg {
      width: 1.1em !important;
      height: 1.1em !important;
      margin-right: 10px;
      fill: #333; 
      transition: fill 0.3s ease;
    }
  
    p {
      font-size: 0.8em;
    }
  
    a {
      text-decoration: none;
      color: #0d1116;
      transition: color 0.3s ease;
    }

    a:hover,
    svg:hover {
      color: #A9A9A9; 
      fill: #A9A9A9; 
    }
}
  

.main-container.dark-mode footer {
    background-color: #0d1116; 
    color: #fff;
    border-top: 2px solid #444; 
  
    svg {
      fill: #fff;
    }
  
    a {
      color: #fff; 
    }

    a:hover,
    svg:hover {
      color: #A9A9A9; 
      fill: #A9A9A9;
    }
}
  

@media (max-width: 768px) {
footer {
    padding-top: 40px;
    padding-bottom: 40px;
}
}
  