.about-section {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0 15%;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
    .content {
      text-align: left;
      z-index: 2;
  
      .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;
  
        svg {
          font-size: 1.8em;
        }
      }
  
      .mobile_social_icons {
        display: none;
      }
  
      h1 {
        font-size: 5em;
        margin: 0;
      }
  
      p {
        font-size: 1.5em;
        margin: 0;
      }
    }
  
    .image-wrapper {
      z-index: 2;
  
      img {
        width: 250px; 
        height: 250px; 
        border-radius: 50%;
        object-fit: cover; 
        object-position: center; 
        border: 4px solid white; 
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
      }
    }
  }
  
  @media (max-width: 768px) {
    .about-section {
      flex-direction: column;
      text-align: center;
      padding: 0 5%;
    }
  
    .image-wrapper {
      margin-bottom: 20px;
  
      img {
        width: 200px; 
        height: 200px;
        border: 3px solid white; 
      }
    }
  
    .content {
      width: 100%;
    }
  
    .social_icons {
      display: none;
    }
  
    .mobile_social_icons {
      display: flex;
      gap: 10px;
      margin-top: 10px;
  
      svg {
        font-size: 1.8em;
      }
    }
  
    h1 {
      font-size: 3em;
    }
  
    p {
      font-size: 1.2em;
    }
  }
  
  @media (max-width: 567px) {
    .about-section {
      padding: 20px;
    }
  
    h1 {
      font-size: 2.5em;
    }
  
    p {
      font-size: 1em;
    }
  
    .image-wrapper img {
      width: 150px; 
      height: 150px;
      border: 3px solid white; 
    }
  }
  